<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Handle Python requests -->
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule"
           scriptProcessor="C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>

    <!-- Very important: Allow static file access -->
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
	<httpErrors errorMode="Detailed" />
	<asp scriptErrorSentToBrowser="true" />
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\urms\URMS-FinalProject\FinalProject" />
	<add key="WSGI_HANDLER" value="FinalProject.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="FinalProject.settings" />
  </appSettings>
</configuration>