.card-body p{
    margin: 0 auto;
    width: 20%;
    text-align: left;
}

/* The popup form - hidden by default */
.form-popup {
display: none;
bottom: 0;
right: 15px;
z-index: 9;
max-width: 30% !important;
height: 70%;
border-radius: 1em;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border: solid .5px #D2D2D2;
position: sticky;
position:fixed;
background-color: #F2F2F2;
padding: 2.5%;
}
.post-form-inputs-container {
height: 55%;
width: 100%;
display: flex;
flex-direction: column;
margin-top: 5%;
}

.post-form-inputs-container > * {
padding-bottom: 1%;
}

.post-form-buttons-container {
display: flex;
flex-direction: row;
width: 90% !important;
margin: 0 auto;
margin-top: 4%;
height: 15%;
}

.custom_css {
background-color: #6c6c6c;
color: #f1f1f1;
font-size: 1.1em;
font-weight: 500;
}

.custom_css:hover {
background-color: #f1f1f1;
color: #6c6c6c;
}

.custom_navbar_css {
background-color: #252525;
}

.top-song-this-week {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: auto;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.top-song-this-week-left {
    display: flex;
    width: 50% !important;
}

.top-song-this-week-right {
    margin: 0 auto;
    padding: 0px;
    width: 50% !important;
}

.top-song-this-week-right img {
    width: 50% !important;
    margin: 0 auto;
    padding: 0px;
}