<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
		<clear />
	
      <add name="StaticFile" 
	  path="*" 
	  verb="*" 
	  modules="StaticFileModule"
      scriptProcessor="C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py" 
	  resourceType="File" 
	  requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>